<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
    <h1>Список контрактов</h1>

    <!-- Существующие контракты -->
    <h2>Существующие контракты</h2>
    <ul>
        {% for contract in contracts %}
        <li>
            <p>{{ contract.contract_num }}:</p>
            <p>Предмет контракта: {{ contract.item_contract }}</p>
            <p>Статус: {{ contract.status }}</p>
            <p><a href="/contracts/{{ contract.id }}">Подробнее</a></p>
        </li>
        {% endfor %}
    </ul>

    <hr>

    <!-- Форма для создания нового контракта -->
 <h2>Создать новый контракт</h2>
<form action="/contracts" method="POST">
    <label for="item_id">Предмет контракта:</label>
    <select name="item_id" id="item_id" required>
        {% for item in items %}
            <option value="{{ item.id }}">{{ item.name }}</option>
        {% endfor %}
    </select><br><br>

    <label for="text_contract">Текст контракта:</label>
    <textarea name="text_contract" id="text_contract" required></textarea><br><br>

    <label for="leaser">Арендодатель:</label>
    <input type="text" name="leaser" id="leaser" required><br><br>

    <label for="taker">Арендатор:</label>
    <input type="text" name="taker" id="taker" required><br><br>


    <label for="start_date">Дата начала:</label>
    <input type="date" name="start_date" id="start_date" required><br><br>

    <label for="end_date">Дата окончания:</label>
    <input type="date" name="end_date" id="end_date" required><br><br>

    <button type="submit">Создать контракт</button>
</form>
{% endblock %}
</body>
</html>