<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/contracts">

    <label for="text_contract">text_contract:</label>
    <input type="text" id="text_contract" name="text_contract" required><br>

    <label for="start_date">start_date:</label>
    <input type="text" id="start_date" name="start_date" required><br>

    <label for="end_date">end_date:</label>
    <input type="text" id="end_date" name="end_date" required><br>

    <label for="contract_num">contract_num:</label>
    <input type="text" id="contract_num" name="contract_num" required><br>

    <label for="leaser">leaser:</label>
    <input type="number" id="leaser" name="leaser" required><br>

    <label for="taker">taker:</label>
    <input type="number" id="taker" name="taker" required><br>

    <label for="item_contract">item_contract:</label>
    <input type="number" id="item_contract" name="item_contract" required><br>

    <label for="status">status:</label>
    <input type="text" id="status" name="status" required><br>

    <label for="leaser_id">leaser_id:</label>
    <input type="number" id="leaser_id" name="leaser_id" required><br>

    <label for="taker_id">taker_id:</label>
    <input type="number" id="taker_id" name="taker_id" required><br>

    <input type="submit">

</form>

</body>
</html>